<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>292312574869-qnflg8l3lq693fclnd6l75sfcofdqueh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292312574869-qnflg8l3lq693fclnd6l75sfcofdqueh</string>
	<key>API_KEY</key>
	<string>AIzaSyAoyOtFb9nUHwhff9Of0qGVIhQQyNA8ddw</string>
	<key>GCM_SENDER_ID</key>
	<string>292312574869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.javiercueto.MyChat</string>
	<key>PROJECT_ID</key>
	<string>mychat-cc96c</string>
	<key>STORAGE_BUCKET</key>
	<string>mychat-cc96c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292312574869:ios:3600857b24d624caeb649c</string>
</dict>
</plist>